* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(90deg, rgba(19, 48, 96, 1) 0%, rgba(79, 37, 118, 1) 25%, rgba(119, 11, 114, 1) 68%, rgba(69, 4, 63, 1) 100%);
}

/* ScrollRevil da pagina HOME */
.efeitoScrollReveal, .scrollCard1,
.scrollCard2, .scrollCard3, 
.scrollRightForLeft, .scrollLeftForRigth{
    visibility: hidden;
}
/*  */
.heat {
    background-image: url(../assets/imgs/Banner_de_fundo_das_descricoes/banner01.avif);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 45vw;
    color: #fff;
}
/*  */
.header {
    width: 100%;
    position: fixed;
    top: 0%;
    transition: all .3s ease-in-out;
    z-index: 3;
}

.header h1 {
    width: 30%;
    text-align: center;
}
/*  */
.header::after {
    background-color: #000;
}
/*  */
.header.active {
    background-color: #000000aa;
    box-shadow: 0px 0px 10px black;
}
/*  */
.header .container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

/* Formatando tag 'a' de linkagem da pagina */
.header .container a{
    color: #fff;
    text-decoration: none;
}

/*  */
.header .container ul {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 40%;
    font-size: 20px;
}
/*  */
.header .container li {
    border-left: solid 1px #fff;
    border-right: solid 1px #fff;
    padding: 0 10px 0 10px;
    margin: 0 5px 0 5px;
    cursor: pointer;
    transition: 0.5s;
}
/*  */
.header .container li:hover {
    color: #e6dede;
    background-color: teal;
    border-radius: 20px;
}
/*  */

.header .cadastro_logim {
    width: 30%;
    display: flex;
    justify-content: center;
}

.header .cadastro_logim button{
    border-radius: 20px;
    text-align: center;
    width: 85px;
    height: 30px;
    background-color: teal;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    margin: 0 5px 0 5px;
}
/*  */
.header .cadastro_logim button:hover {
    background-color: rgb(21, 85, 85);
}
/*  */
.heat .gradientBanner {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 83%, rgba(13, 13, 13, 1) 100%);
    width: 100%;
    height: 100%;
}
/*  */
.heat .gradientBanner .bannerInHeader {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 103%;
    height: 700px;
}
/*  */
.banner {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
}
/*  */
.banner .container {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-left: 150px;
}
/*  */
.banner .container .content {
    width: 60%;
    height: 420px;
    margin-top: 50px;
    margin-left: -220px;
    border-radius: 50px;
    padding: 90px 30px 0px 30px;
    opacity: 0.5;
    background-color: #fff;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 15%, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 15%, 100% 80%, 0 100%);
    animation: surgirDaEsquerda 0.5s;
    animation-timeline: view();
    animation-range: cover 0% cover 45%;
}
/*  */
@keyframes surgirDaEsquerda {
    from {
        transform: translateX(-100vw);
    }

    to {
        transform: translateX(0);
    }
}
/*  */
.banner .container .contentCard img {
    width: 25%;
    height: 520px;
    border-radius: 20px;
    position: absolute;
    opacity: 0.7;
    margin-left: 300px;
    box-shadow: #000 40px 40px 10px;
}
/*  */
.banner .contanier h2 {
    text-align: center;
}
/*  */
.banner .container p {
    text-align: justify;
}
/*  */
.figuraPagTransacao {
    width: 100%;

}
/*  */
.figuraPagTransacao .figuraBackgroudAnimation {
    width: 100%;
    height: 350px;
    background-image: url(../assets/imgs/Fotos_de_Passagem/FDD-Animais-scaled.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position-y: 50px;
}
/*  */
.social {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
}
/*  */
.social .boxes {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}
/*  */
.social .boxes .box {
    width: 250px;
    height: 400px;
    transition: 1s;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: end;
    flex-direction: column;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 30px;
    border: solid 2px #fff;
}
/*  */
#planoHQ {
    background-image: url(../assets/imgs/Cards_de_modelo/card01.jpg);
}
/*  */
#planoAnime {
    background-image: url(../assets/imgs/Cards_de_modelo/card02.jfif);
}
/*  */
#planoAnatomia {
    background-image: url(../assets/imgs/Cards_de_modelo/card03.jfif);
}

/*  */
.social .boxes .box img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    border: solid 2px #fff;
    opacity: 0.5;
    filter: brightness(80%);
}
/*  */
.social .boxes .box:hover {
    transform: scale(1.17);
    filter: brightness(50%);
}
/*  */
.separate {
    text-align: center;
    color: #fff;
    height: 50px;
}
/*  */
.explanation {
    width: 100%;
    display: flex;
    justify-content: center;
}
/*  */
.explanation .exemplos {
    width: 80%;
}
/*  */
.explanation .exemplos .descricaoCurso {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}

/*  */
.explanation .exemplos .descricaoCurso .descricaoCursoTexto {
    width: 50%;
}
/*  */
.explanation .exemplos .descricaoCurso .descricaoCursoTexto h1 {
    font-size: 40px;
    color: #fff;
}
/*  */
.explanation .exemplos .descricaoCurso .descricaoCursoTexto h2 {
    text-align: justify;
    list-style: none;
}
/*  */
.explanation .exemplos .descricaoCurso img {
    width: 300px;
    height: 400px;
    border-radius: 30px;
}
/*  */
.explanation .exemplos .content {
    margin-top: 100px;
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -100px;
    display: flex;
}

.exemplos .imagensPEsquerda{
    background-position: 100px !important;
}
/*  */
.animationImg {
    background-image: url(../assets/imgs/Banner_de_fundo_das_descricoes/banner01.avif);
}
/*  */
.animeImg {
    background-image: url(../assets/imgs/Banner_de_fundo_das_descricoes/banner02.jpg);
}
/*  */
.anatomiaImgMao {
    background-image: url(../assets/imgs/Banner_de_fundo_das_descricoes/banner03.jpg);
}
/*  */
.cartoonImg {
    background-image: url(../assets/imgs/Banner_de_fundo_das_descricoes/banner04.jpg);
}
/*  */
.anatomiaImgPerna {
    background-image: url(../assets/imgs/Banner_de_fundo_das_descricoes/banner05.jpg);
}
/*  */
.explanation .exemplos .boxLeft {
    display: flex;
    justify-content: end;
    align-items: center;

}
/*  */
.explanation .exemplos .boxRight {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 30px;
}
/*  */
.exemplos .boxLeft img {
    width: 230px;
    height: 300px;
    border-radius: 30px;
}
/*  */
.exemplos .content img {
    width: 200px;
    height: 300px;
    border-radius: 30px;
}
/*  */
.exemplos .content h1 {
    color: #303030;
}
/*  */
.exemplos .content p {
    color: #fff;
    text-align: justify;
}
/*  */
.boxDescribe {
    width: 600px;
    height: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 250, 242, 0.43);
    backdrop-filter: blur(6px);
    border-radius: 30px;
    transition: 0.7s;
/*  */
    & p {
        display: none;
    }
}
/*  */
.boxDescribe:hover {
    width: 750px;
/*  */
    & p {
        display: block;
    }
}
/*  */
.describe {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
/*  */
.content .describe h2 {
    text-align: justify;
}
/*  */
.finalizandoConteudo {
    background-image: url(../assets/imgs/Fotos_de_Passagem/FDD-Piratinha-Formas-Básicas-scaled.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 350px;
    opacity: 0.8;
    margin-top: 50px;
}
/*  */
.aboutMeAll {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
}
/*  */
.aboutMe {
    width: 80%;
    height: 1800px;
}
/*  */
.aboutMeTxt{
    width: 30;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 250, 242, 0.1);
    border-radius: 20px;
    padding: 20px;
    margin: 20px 0;
    color: aqua;
    text-align: center;
}
/*  */
.texto_sobre_mim{
    width: 400px;
}
/*  */
.aboutMeTxt img{
    width: 250px;
    height: 250px;
    border-radius: 125px;
    border: #fff solid 2px;
}
/*  */
.aboutMeTxt p{
    text-align: justify;
    color: #fff;
}
/*  */
.aboutMeImgs{
    width: 45%;
    height: 450px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/*  */
.aboutMeImgs img{
    width: 150px;
    height: 190px;
    border-radius: 30px;
    transition: 0.5s;
    padding-left: 5px;
}
/*  */
.aboutMeImgs img:hover{
    filter: brightness(50%)
}

/*  */
.aboutMeImgs .desenho02 img{
    width: 300px;
    height: 190px;
}
/*  */
.aboutMeImgs .desenho08 img{
    width: 300px;
    height: 190px;
}

/* Roda pé */
.footer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(3, 3, 82);
    color: #fff;
}

/*  */
.version{
    padding-top: 30px;
    width: 200px;
    height: 100px;
}

.version button{
    border-radius: 20px;
    width: 50px;
    background-color: teal;
    cursor: pointer;
    color: #fff;
}

.version button:hover{
    background-color: rgb(4, 79, 79);
}

