*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: rgb(18, 18, 66);
}

.heat{
    background-image: url(img/olho-azul-olhando-para-fora-da-mistura-diversificada-de-tintas-conceito-de-visao-de-arte-close-up-generative-ai_116317-28855.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
    background-attachment: fixed;
    width: 100%;
    height: 45vw;
    color: #fff;
}

.header{
    width: 100%;
    position: fixed;
    top: 0%;
    transition: all .3s ease-in-out;
}

.header::after{
    background-color: #000;
}

.header.active{
    background-color: #000000aa;
    box-shadow: 0px 0px 10px black;
}

.header .container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    z-index: 2;
}

.header .container ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 400px;
    font-size: 20px;
}

.header .container li{
    border-left: solid 1px #fff;
    border-right: solid 1px #fff;
    padding: 0 10px 0 10px;
    cursor: pointer;
    transition: 0.5s;
}

.header .container li:hover{
    color: #e6dede;
    background-color: teal;
    
    border-radius: 20px;
}

.header .container select{
    border-radius: 20px;
    text-align: center;
    width: 120px;
    height: 30px;
    background-color: teal;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.header .container select:hover{
    background-color: rgb(21, 85, 85);
}

.heat .gradientBanner{
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.5) 83%, rgba(13,13,13,1) 100%);
    width: 100%;
    height: 100%;
}  

.heat .gradientBanner .bannerInHeader{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;   
}

.banner{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
}

.banner .container{
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-left: 150px;
}

.banner .container .content{
    width: 60%;
    height: 420px;
    margin-top: 50px;
    margin-left: -220px;
    border-radius: 50px;
    padding: 90px 30px 0px 30px;
    opacity: 0.5;
    background-color: #fff;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 15%, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 15%, 100% 80%, 0 100%);
    animation: surgirDaEsquerda 0.5s;
    animation-timeline: view();
    animation-range: cover 0% cover 45%;
}

@keyframes surgirDaEsquerda {
    from {
        transform: translateX(-100vw);
    }

    to {
        transform: translateX(0);
    }
}

.banner .container .contentCard img{
    width: 25%;
    height: 520px;
    border-radius: 20px;    
    position: absolute;
    opacity: 0.7;
    margin-left: 300px;
    box-shadow: #000 40px 40px 10px;
}

.banner .contanier h2{
    text-align: center;
}

.banner .container p{
    text-align: justify;
}

.figuraPagTransacao{
    width: 100%;
    
}

.figuraPagTransacao .figuraBackgroudAnimation{
    width: 100%;
    height: 350px;
    background-image: url(img/FDD-Animais-scaled.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position-y: 50px;
}

.social{
    width: 100%;
    height: 550px;
    
    display: flex;
    justify-content: center;
}

.social .boxes{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

.social .boxes .box{
    width: 250px;
    height: 400px;
    transition: 1s;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: end;
    flex-direction: column;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 30px;
}

#planoHQ{
    background-image: url(img/batman.png);
}

#planoAnime{
    background-image: url(img/Demon\ Slayer\ Mobile\ Wallpaper.jfif);
}

#planoAnatomia{
    background-image: url(img/bobby\ rebholz-\ my\ mentor\ and\ my\ idol.jfif);
}


.social .boxes .box img{
    width: 100%;
    height: 100%;
    border-radius: 30px;    
    border: solid 2px #fff;
    opacity: 0.5;
}

.social .boxes .box:hover{
    width: 300px;
    height: 470px;
    
}

.separate{
    text-align: center;
    color: #fff;
    height: 50px;
}

.explanation{
    width: 100%;
    display: flex;
    justify-content: center;
}

.explanation .exemplos{
    width: 80%;
}

.explanation .exemplos .content{
    margin-top: 100px;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;   
    background-color: #303030;
    padding: 20px;
    border-radius: 30px;
}

.exemplos .content img{
    width: 300px;
    height: 420px;
}

.exemplos .content h2{
    width: 50%;
}

.describe{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content .describe h2{
    text-align: justify;
}