*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.heat{
    background-image: url(img/olho-azul-olhando-para-fora-da-mistura-diversificada-de-tintas-conceito-de-visao-de-arte-close-up-generative-ai_116317-28855.avif);
    background-repeat: no-repeat;
    background-position: 10%;
    background-size: cover;   
    background-attachment: fixed;
    width: 100%;
    height: 50vw;
    color: #fff;
}

.header{
    width: 100%;
    position: fixed;
    top: 0%;
    transition: all .3s ease-in-out;
}

.header::after{
    background-color: #000;
}

.header.active{
    background-color: #000000aa;
    box-shadow: 0px 0px 10px black;
}

.header .containt{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    z-index: 2;
}

.header .containt ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 400px;
    font-size: 20px;
}

.header .containt li{
    border-left: solid 1px #fff;
    border-right: solid 1px #fff;
    padding: 0 10px 0 10px;
    cursor: pointer;
    transition: 0.5s;
}

.header .containt li:hover{
    color: #e6dede;
    background-color: teal;
    
    border-radius: 20px;
}

.header .containt select{
    border-radius: 20px;
    text-align: center;
    width: 120px;
    height: 30px;
    background-color: teal;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.header .containt select:hover{
    background-color: rgb(21, 85, 85);
}

.heat .gradientBanner{
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.5) 83%, rgba(13,13,13,1) 100%);
    width: 100%;
    height: 100%;
}  

.heat .gradientBanner .banner{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;   
}

.divisoriaBanner{
    background-color: teal;
    width: 100%;
    height: 100px;    
}

.social{
    background-image: url(img/Top\ 5\ signos\ mais\ criativos\ do\ zodíaco.jfif);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: auto;
    background-size: cover;   
    width: 100%;
    height: 50vw;
    color: #fff;
    z-index: 2;
}

.social .gradientBanner{
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.5) 83%, rgba(13,13,13,0.2) 100%);
    width: 100%;
    height: 100%;
}

.social .boxes{
    display: flex;
    justify-content: center;
    align-items: center; 
}



.boxes .boxCardOne{
    background-image: url(img/download.jfif);
    background-position: center;
    background-size: cover;
    width: 320px;
    height: 530px;
    border: solid 2px #fff;
    border-radius: 30px;
    margin-top: 150px;
    transition: 1s;
}

.boxes .boxCardTwo{
    background-image: url(img/Demon\ Slayer\ Mobile\ Wallpaper.jfif);
    background-position-y: center;
    background-position: center;
    background-size: cover;
    margin-left: 60px;
    width: 320px;
    height: 530px;
    border: solid 2px #fff;
    border-radius: 30px;
    margin-top: 150px;
    transition: 1s;
}
.boxes .boxCardTree{
    background-image: url(img/bobby\ rebholz-\ my\ mentor\ and\ my\ idol.jfif);
    background-position: center;
    background-size: cover;
    margin-left: 60px;
    width: 320px;
    height: 530px;
    border: solid 2px #fff;
    border-radius: 30px;
    margin-top: 150px;
    transition: 1s;
}

.boxCardOne:hover{
    width: 360px;
    height: 630px;
}

.boxCardTwo:hover{
    width: 360px;
    height: 630px;
}

.boxCardTree:hover{
    width: 360px;
    height: 630px;
}

.boxes .gradientBox{
    border-radius: 30px;
    background-color: #101010aa;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: end;
}

.gradientBox p{
    padding: 0 15px 30px 15px;
    font-size: 20px;
}

.gradientBox h2{
    padding: 0 15px 30px 15px;
}

.descNavbarHeader, .descNavbarBanner, .descNavbarSocial{
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 40vw;
}

.descNavbarHeader {
    background-image: url(img/download.jfif);
}
.descNavbarBanner {
    background-image: url(img/Demon\ Slayer\ Mobile\ Wallpaper.jfif);
}
.descNavbarSocial {
    background-image: url(img/bobby\ rebholz-\ my\ mentor\ and\ my\ idol.jfif);
}